/* ToggleSwitch.css */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  /* Checkbox checked */
  input:checked + .slider {
    background-color: #101424;
  }
  
  /* Checkbox checked:before */
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    border-color: #ccc;
  }
  
  .slider.round:before {
    border-radius: 50%;
    border-color: #ccc;
  }

  .bg-black {
    background-color: #000;
  }
  
  .bg-dark {
    background-color: #12182e;
  }
  
  
  .icon-container {
    padding-left: 5px;
    display: flex;
    align-items: center; /* Center vertically */
    height: 100%; /* Take full height of parent (.slider.round) */
  }